body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}


.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #274a77;
}

.loginForm {
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
}


.input {
 box-sizing: border-box;
 border-radius: 4px;
 color: #000000;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}

/* button styling */
.btn {
 width: 100%;
 min-width: 280px;
 color: #080808;
 padding: 12px;
 font-size: 20px;
 font-weight: bold;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}
